{
  "extends": ["eslint:recommended"],
  "parser": "babel-eslint",
  "env": {
    "browser": true,
    "node": true,
    "es6": true
  },
  "plugins": [
    "react"
  ],
  "settings": {
    "react": {
      "pragma": "h"
    }
  },
  "parserOptions": {
    "ecmaFeatures": {
      "jsx": true,
      "modules": true
    }
  },
  "rules" : {
    "react/jsx-uses-react": "error",
    "react/jsx-uses-vars": "error",
    "arrow-parens": ["error", "as-needed"],
    "no-empty-pattern": "off",
    "require-jsdoc": "off"
  }
}
