$space: 8px;
$normal-font: -apple-system, BlinkMacSystemFont, 'Segoe UI', Helvetica, Arial,
  sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
$bg-color: #272823;
$primary-color: #10e810;

$break-point-m: 768px;
$break-point-l: 1024px;
$break-point-xl: 1440px;

body {
  color: $primary-color;
  font-family: $normal-font;
  letter-spacing: 2.5px;
}

a,
a:link,
a:visited,
a:active,
a:hover {
  color: #fff;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}

button {
  cursor: pointer;
}

ul {
  width: 100%;
  padding: 0;
  list-style: none;
}

/*
 util
 */
dl.horizontal {
  dt {
    text-align: center;
    width: $space * 3;
    float: left;
  }
  dd {
    margin-bottom: $space;
    margin-left: $space * 3;
  }
}

.font-style-title {
  font-family: monospace;
}
.font-style-normal {
  font-family: $normal-font;
}
html.font-loaded {
  .font-style-title {
    font-family: 'Cutive Mono', monospace;
  }
}

.text-center {
  text-align: center;
}

.m-0 {
  margin: 0;
}
.m-t-0 {
  margin-top: 0;
}
.m-x {
  margin-left: $space;
  margin-right: $space;
}
.m-x-m {
  margin-left: $space * 2;
  margin-right: $space * 2;
}
.m-x-l {
  margin-left: $space * 3;
  margin-right: $space * 3;
}
.m-y {
  margin-top: $space;
  margin-bottom: $space;
}
.m-y-m {
  margin-top: $space * 2;
  margin-bottom: $space * 2;
}
.m-y-l {
  margin-top: $space * 3;
  margin-bottom: $space * 3;
}
.m-t {
  margin-top: $space;
}
.m-b {
  margin-bottom: $space;
}
.m-r {
  margin-right: $space;
}
.m-l {
  margin-left: $space;
}
.m-t-m {
  margin-top: $space * 2;
}
.m-b-m {
  margin-bottom: $space * 2;
}
.m-r-m {
  margin-right: $space * 2;
}
.m-l-m {
  margin-left: $space * 2;
}
.m-t-l {
  margin-top: $space * 3;
}
.m-b-l {
  margin-bottom: $space * 3;
}
.m-r-l {
  margin-right: $space * 3;
}
.m-l-l {
  margin-left: $space * 3;
}

.p-a {
  padding: $space;
}
.p-a-m {
  padding: $space * 2;
}

.float-l {
  float: left;
}

/*
 layout
 */
.flex {
  display: flex;
}
.flex-column {
  flex-direction: column;
}
.flex-center {
  justify-content: center;
  align-items: center;
}
.flex-wrap {
  flex-wrap: wrap;
}

/**
 form
 */
.reset-button {
  outline: none;
  border: none;
  background: none;
  color: inherit;
  -webkit-appearance: none;
}

/**
 font awesome icons
 */
.fa {
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.fa-angle-double-right:before {
  content: "\f101";
}
.fa-question:before {
  content: "\f128";
}
.fa-github:before {
  content: "\f09b";
}
.fa-star:before {
  content: "\f005";
}
.fa-code-fork:before {
  content: "\f126";
}
.fa-remove:before,
.fa-close:before,
.fa-times:before {
  content: "\f00d";
}

/**
 dev icons
 */
[class*=" devicon-"],
[class^=devicon-] {
    font-family: devicon;
    speak: none;
    font-style: normal;
    font-weight: 400;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale
}
.devicon-c-plain:before {
    content: "\e639"
}
.devicon-cplusplus-plain:before {
    content: "\e635"
}
.devicon-csharp-plain:before {
    content: "\e637"
}
.devicon-go-plain:before {
    content: "\e61b"
}
.devicon-java-plain:before {
    content: "\e842"
}
.devicon-javascript-plain:before {
    content: "\e845"
}
.devicon-php-plain:before {
    content: "\eb71"
}
.devicon-python-plain:before {
    content: "\eb89"
}
.devicon-ruby-plain:before {
    content: "\ebca"
}
.devicon-swift-plain:before {
    content: "\e92b"
}
.devicon-typescript-plain:before {
    content: "\e920"
}









